html {
  background-color: #c2c689;
}

body {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  color: #422b23;
  margin: 8%;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  color: #422b23;
  text-align: center;
}

.title {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
  line-height: 1.6;
}

form {
  margin: 5%;
}

label {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
}

input {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;

  padding: 12px;
  border: 8px solid #dba1a2;
  border-radius: 20px;
  background-color: #f7f3ed;
  color: #422b23;

  width: 50%
}

select {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;

  padding: 12px;
  border: 8px solid #dba1a2;
  border-radius: 20px;
  background-color: #f7f3ed;
  color: #422b23;

  width: 50%;
}

button {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  background-color: #efd8d6;
  border: none;
  color: #422b23;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
}

/* table stuff */
table {
    width: 100%;
    /* margin: auto; */
    font-size: 28px;
    text-align: center;
    /* border: 6px solid #dba1a2; */
    border-radius: 12px;
    overflow: hidden;
    background-color: #f7f3ed;
}
.designed-table {
    border-collapse: collapse;
    margin: auto;
    min-width: 400px;
    /* background-color: #422b23; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .designed-table thead tr {
    background-color: #422b23;
    color: #422b23;
    text-align: center;
} */

.designed-table th,
.designed-table td {
    padding: 12px 16px;
}

.designed-table tbody tr {
    border-bottom: 1px solid #422b23;
}

/* .designed-table tbody tr:nth-child(even) {
    background-color: #422b23;
} */

.designed-table tbody tr:hover {
    background-color: #efd8d6;
    cursor: pointer;
}