html {
  background-color: #c2c689;
}

body {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  color: #422b23;
  margin: 8%;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  color: #422b23;
  text-align: center;
}

.title {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
  line-height: 1.6;
}

form {
  margin: 5%;
}

label {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
}

input {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;

  padding: 12px;
  border: 8px solid #dba1a2;
  border-radius: 20px;
  background-color: #f7f3ed;
  color: #422b23;

  width: 50%
}

select {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;

  padding: 12px;
  border: 8px solid #dba1a2;
  border-radius: 20px;
  background-color: #f7f3ed;
  color: #422b23;

  width: 50%;
}

button {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  background-color: #efd8d6;
  border: none;
  color: #422b23;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
}
