html {
  background-color: #c2c689;
}

body {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  color: #422b23;
  margin: 8%;
}

h1 {
  font-size: 64px;
  font-weight: 800;
  color: #422b23;
  text-align: center;
}

.title {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
  line-height: 1.6;
}